.banner-section-container{
  background: url(./assets/hero-bg.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-circle{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(190, 190, 14), tomato, rgb(218, 8, 43), rgb(81, 1, 81));
  position: relative;
  left: 38%;
  top: 80px;
}
.hero-circle img{
  position: absolute;
  top: 80px;
  left: 112px;
}




@import "tailwindcss";
@media screen and (max-width:576px){
  .banner-section-container{
  background: url(./assets/mobile-hero-bg.png);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(190, 190, 14), tomato, rgb(218, 8, 43), rgb(81, 1, 81));
  position: relative;
  top: 50px;
}
.hero-circle img{
  width: 40%;
  position: absolute;
  left: 45px;
  top: 25px;
}
}