/* .banner-bg-one{
  background-image: url("assets/hero-bg.png");
} */

/* .hero-back-img{
  background: url("./assets/hero-bg.png");
  background-size: ;
} */



















@import "tailwindcss";

